## Inteligência Artificial 2022.1
#### Trabalho 1
#### Universidade Federal de São Carlos (UFSCar) - campus Sorocaba

Professora responsável: Profa. Dra. Katti Faceli<br>
Grupo 10<br>

Integrantes do grupo:<br>
Arthur Felipe Bravo Pita            RA 770987<br>
Matheus Vargas Volpon Berto         RA 771051<br>
Pedro Henrique Mendes               RA 771056<br>
Wilson Leonardo Marcielo Chaves     RA 771068<br>

In [ ]:
from algoritmos import *

# K-médias

In [43]:
import pandas as pd
import numpy as np
import random

k = 3
it = 10

df = pd.read_csv('../datasets/test.txt', sep="\t", header=0)
df.head()

  sample_label  d1   d2
0        Homer  40  180
1       Margie  38  165
2         Bart  10  150
3         Liza   8  140
4       Maggie   4  110

In [75]:
intervalosPorAtributo = []
for col in df.columns[1:]:
    intervalo = df[col].agg(['min', 'max'])
    intervalosPorAtributo.append(intervalo)

centroides = []
for i in range(k):
    ponto = ()
    for intervalo in intervalosPorAtributo:
        ponto += (random.randint(intervalo[0], intervalo[1]), )
    
    centroides.append(ponto)

for i in range(k):
    distanceTable = {
        'object': [],
    }

    for i in range(len(centroides)):
        distanceTable.update({'c%d' % (i+1): []})

In [76]:
distanceTable

{'object': [], 'c1': [], 'c2': [], 'c3': []}