## Inteligência Artificial 2022.1
#### Trabalho 1
#### Universidade Federal de São Carlos (UFSCar) - campus Sorocaba

Professora responsável: Profa. Dra. Katti Faceli<br>
Grupo 10<br>

Integrantes do grupo:<br>
Arthur Felipe Bravo Pita            RA 770987<br>
Matheus Vargas Volpon Berto         RA 771051<br>
Pedro Henrique Mendes               RA 771056<br>
Wilson Leonardo Marcielo Chaves     RA 771068<br>

In [1]:
from algoritmos import *

# K-médias

In [ ]:
k_means('../datasets/test.txt', k=3, it=3)

In [12]:
import pandas as pd
df = pd.read_csv('../datasets/test.txt', header=0)
print(df)
df.drop(columns=['sample_label'], inplace=True)
df.min().min()

  sample_label  cabelo  peso  idade
0        Homer       0   250     36
1        Marge      10   150     34
2         Bart       2    90     10
3         Lisa       6    78      8
4       Maggie       4    20      1
5          Abe       1   170     70
6        Selma       8   160     41
7         Otto      10   180     38
8       Krusty       6   200     45

0

In [8]:
df = pd.read_csv('../datasets/test.txt', sep=",", header=0)
objectsNames = df['sample_label'].tolist() # ['Homer', 'Marge', 'Bart', ....]

distanceTable = {}

for j in objectsNames:
    distanceTable.update({j: []})

listOfObjects = df.to_numpy().tolist()

for index_i, i in enumerate(listOfObjects):
    for index_j, j in enumerate(listOfObjects):
        # preencher com -1:
        if index_i > index_j:
            distance = -1
        
        elif index_i == index_j:
            distance = 0
        
        else:
            distance = euclidean_dist(tuple(i[1:]), tuple(j[1:]))
        
        distanceTable[i[0]].append(distance)

dfDistances = pd.DataFrame(distanceTable, index=objectsNames)
dfDistances

,Homer,Marge,Bart,Lisa,Maggie,Abe,Selma,Otto,Krusty
Homer,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1
Marge,100.518655,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1
Bart,162.111073,65.115282,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1
Lisa,174.367428,76.655072,12.806248,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1
Maggie,232.682187,134.257216,70.604532,58.455111,0.000000,-1.000000,-1.000000,-1.000000,-1
Abe,86.931007,42.154478,100.005000,111.054041,165.136307,0.000000,-1.000000,-1.000000,-1
Selma,90.493094,12.369317,76.791927,88.413800,145.657132,31.464265,0.000000,-1.000000,-1
Otto,70.738957,30.265492,94.593869,106.395489,164.331981,34.713110,20.322401,0.000000,-1
Krusty,51.156622,51.351728,115.503247,127.487254,185.310550,39.370039,40.249224,21.563859,0

In [33]:
minValue = {
    'distance': -1,
    'object1': '',
    'object2': '',
}

# encontrando a menor distância na tabela de distâncias:
for index_i, i in enumerate(listOfObjects): # [['Homer', 0, 250, 40], ['Marge', 6, 35, 20], [...], [...]]
    for index_j, j in enumerate(listOfObjects):
        if dfDistances[i[0]][j[0]] > 0 and (minValue['distance'] == -1 or dfDistances[i[0]][j[0]] < minValue['distance']):
            minValue['distance'] = dfDistances[i[0]][j[0]]
            minValue['object1'] = i[0]
            minValue['object2'] = j[0]

newCluster = {
    'name': '',
    'distances': [],
}

newCluster['name'] = minValue['object1'] + ',' + minValue['object1']

#for index_i, i in enumerate(listOfObjects): # [['Homer', 0, 250, 40], ['Marge', 6, 35, 20], [...], [...]]
    #for index_j, j in enumerate(listOfObjects):
        


# removendo os clusters anteriormente separados da lista de objetos e da tabela de distâncias:
objsToRemove = []
for index, obj in enumerate(listOfObjects):
    if obj[0] == minValue['object1'] or obj[0] == minValue['object2']:
        objsToRemove.append(obj)

listOfObjects = [x for x in listOfObjects if x not in objsToRemove]
dfDistances.drop(columns=[minValue['object1'], minValue['object2']], inplace=True)

[[0.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0], [100.5186549850325, 0.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0], [162.11107303327555, 65.11528238439882, 0.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0], [174.36742815101678, 76.6550715869472, 12.806248474865697, 0.0, -1.0, -1.0, -1.0, -1.0, -1.0], [232.6821866838972, 134.25721582097552, 70.60453243241541, 58.45511098270193, 0.0, -1.0, -1.0, -1.0, -1.0], [86.93100712634129, 42.15447781671598, 100.00499987500625, 111.05404089901457, 165.13630733427462, 0.0, -1.0, -1.0, -1.0], [90.49309365912958, 12.36931687685298, 76.79192665899195, 88.41379982785493, 145.657131648265, 31.464265445104548, 0.0, -1.0, -1.0], [70.73895673530957, 30.265491900843113, 94.59386872308374, 106.39548862616309, 164.3319810627256, 34.713109915419565, 20.322401432901575, 0.0, -1.0], [51.15662224971465, 51.35172830587107, 115.50324670761424, 127.4872542648872, 185.31055015837603, 39.370039370059054, 40.24922359499622, 21.563858652847824, 0.0]]